# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [1]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [12]:
zomato_df = pd.read_csv('zomato/zomato/zomato.csv')
location_df = pd.read_csv('zomato/zomato/location.csv')
ratings_df = pd.read_csv('zomato/zomato/ratings.csv')

common_column = 'id'

merged_df = pd.merge(zomato_df, location_df, on=common_column, how='inner')
merged_df = pd.merge(merged_df, ratings_df, on=common_column, how='inner')

In [13]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

merged_df.head()

,id,average_cost_for_two,book_url,cuisines,currency,deeplink,events_url,featured_image,has_online_delivery,has_table_booking,...,country_id,latitude,locality,locality_verbose,longitude,zipcode,aggregate_rating,rating_color,rating_text,votes
0,6316125,1000,NaN,"Japanese, Ramen",P,zomato://restaurant/6316125,https://www.zomato.com/manila/mendokoro-ramenb...,https://b.zmtcdn.com/data/reviews_photos/971/2...,0,0,...,162,14.560313,Salcedo Village,"Salcedo Village, Makati City",121.024638,NaN,4.9,3F7E00,Excellent,1394
1,18409457,1300,NaN,"Korean, Grill, Korean BBQ",P,zomato://restaurant/18409457,https://www.zomato.com/manila/soban-k-town-gri...,https://b.zmtcdn.com/data/res_imagery/18290970...,0,0,...,162,14.552137,"Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.021325,NaN,4.6,3F7E00,Excellent,602
2,6307689,1600,NaN,"American, Filipino",P,zomato://restaurant/6307689,https://www.zomato.com/manila/filling-station-...,https://b.zmtcdn.com/data/pictures/9/6307689/b...,0,0,...,162,14.563144,Poblacion,"Poblacion, Makati City",121.029800,1210.0,4.0,5BA829,Very Good,563
3,18581637,1000,NaN,Korean,P,zomato://restaurant/18581637,https://www.zomato.com/manila/romantic-baboy-t...,https://b.zmtcdn.com/data/reviews_photos/cc1/a...,0,0,...,162,14.633713,Tomas Morato,"Tomas Morato, Quezon City",121.035026,NaN,4.0,5BA829,Very Good,413
4,6315438,3000,NaN,"Seafood, American, Mediterranean, Japanese",P,zomato://restaurant/6315438,https://www.zomato.com/manila/niu-by-vikings-b...,https://b.zmtcdn.com/data/pictures/chains/8/63...,0,0,...,162,14.546236,"SM Aura Premier, Bonifacio Global City, Taguig...","SM Aura Premier, Bonifacio Global City, Taguig...",121.054365,NaN,4.6,3F7E00,Excellent,960

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [14]:
def exercise_2(merged_df):
    # Group by 'city' and calculate the mean of 'aggregate_rating'
    avg_rating_per_city = merged_df.groupby('city')['aggregate_rating'].mean()
    
    # Return the result as a Pandas Series
    return avg_rating_per_city

In [15]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

res_series.head()

city
Caloocan City       1.953509
Las PiÃ±as City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Name: aggregate_rating, dtype: float64

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [23]:
def rate_equivalent(rating_text):
    rating_map = {
        'Excellent': 5,
        'Very Good': 4,
        'Good': 3,
        'Average': 2,
        'Poor': 1,
        'Not rated': 0
    }
    return rating_map.get(rating_text, 0) 

merged_df['rating_numeric'] = merged_df['rating_text'].apply(rate_equivalent)

In [24]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

merged_df[['rating_text', 'rating_numeric']].head()

  rating_text  rating_numeric
0   Excellent               5
1   Excellent               5
2   Very Good               4
3   Very Good               4
4   Excellent               5

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [32]:
def exercise_4(merged_df, city):
    filtered_df = merged_df[merged_df['city'] == city]
    
    return filtered_df

In [35]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [36]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df = merged_df[cols_to_filter]
    
    return filtered_df

In [39]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [40]:
most_common_restaurant = merged_df['name'].value_counts().idxmax()

print(f"The most common restaurant name is {most_common_restaurant}")

The most common restaurant name is: Starbucks

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [44]:
most_expensive_restaurant = merged_df.loc[merged_df['average_cost_for_two'].idxmax()]

restaurant_name = most_expensive_restaurant['name']
max_cost = most_expensive_restaurant['average_cost_for_two']

print(f"The most expensive restaurant is {restaurant_name} with an average cost for two of {max_cost}")

The most expensive restaurant is The Tasting Room with an average cost for two of 10000

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [46]:
restaurants_without_zipcode = merged_df['zipcode'].isna().sum()

print(f"The number of restaurants without a zipcode is {restaurants_without_zipcode}")

The number of restaurants without a zipcode is 6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [47]:
restaurants_with_online_delivery = merged_df[merged_df['has_online_delivery'] == 1].shape[0]

print(f"The number of restaurants that allow online delivery is {restaurants_with_online_delivery}")

The number of restaurants that allow online delivery is 0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [51]:
locality_comparison = merged_df[merged_df['locality'].isin(['Poblacion', 'Salcedo Village'])]


average_localityCost = locality_comparison.groupby('locality')['average_cost_for_two'].mean()

print(average_localityCost)

result = average_localityCost.idxmax()
print(f"The locality with more expensive food is: {result}")

locality
Poblacion          898.214286
Salcedo Village    989.102564
Name: average_cost_for_two, dtype: float64
The locality with more expensive food is: Salcedo Village